<!DOCTYPE html>
<html>
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-194x194.png') }}" sizes="194x194">
        <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ asset('android-chrome-192x192.png') }}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta charset="UTF-8" />
        <title>{% block title %}Knygmainys.lt - tavo knygų namai!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  'assets/css/bootstrap.min.css'
                            'assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
        <div class="container-fluid body-container">
            {% block header %}
                <div class="row header-row">
                    <div class="col-lg-8 col-sm-12 header-main">
                        {% block header_main %}
                            {% embed 'KnygmainysMainBundle:partials:header/main.html.twig' %}
                            {% endembed %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-4 col-sm-12 col-xs-12 header-sidebar">
                        {% block header_sidebar %}
                            {% embed 'KnygmainysMainBundle:partials:header/sidebar.html.twig' %}
                            {% endembed %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock header %}
            <div class="spacer"></div>
            <div class="row main-content-row">
                {% block main_content %}
                    <div class="col-lg-4 main-content-sidebar">
                        <div class="row">
                            <div class="col-lg-11">
                        {% block sidebar %}
                            {% block sidebar_block1 %}
                                {% embed 'KnygmainysMainBundle:partials:sidebar/block1.html.twig' %}
                                {% endembed %}
                            {% endblock %}
                            <div class="spacer"></div>
                            {% block sidebar_block2 %}
                                {% embed 'KnygmainysMainBundle:partials:sidebar/block2.html.twig' %}
                                {% endembed %}
                            {% endblock %}
                        {% endblock sidebar %}
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="spacer"></div>
                    </div>
                    <div class="col-lg-8 main-content-content">
                        {% block content %}
                            <div class="panel panel-default">
                                <div class="panel-heading menu-panel-heading-2">
                                    {% block content_title %}
                                    {% endblock content_title %}
                                </div>
                                <div class="panel-body">
                                    {% block content_body %}
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock main_content %}
            </div>
        </div>
        <div class="spacer"></div>
        <div class="container-fluid footer-container">
            {% block footer %}
                <div class="row footer-row">
                    <div class="col-lg-4 footer-col footer-col-first">
                        {% block footer_first %}
                            {% embed 'KnygmainysMainBundle:partials:footer/first.html.twig' %}
                            {% endembed %}
                        {% endblock footer_first %}
                    </div>
                    <div class="col-lg-4 footer-col footer-col-second">
                        {% block footer_second %}
                            {% embed 'KnygmainysMainBundle:partials:footer/second.html.twig' %}
                            {% endembed %}
                        {% endblock footer_second %}
                    </div>
                    <div class="col-lg-4 footer-col footer-col-third">
                        {% block footer_third %}
                            {% embed 'KnygmainysMainBundle:partials:footer/third.html.twig' %}
                            {% endembed %}
                        {% endblock footer_third %}
                    </div>
                </div>
            {% endblock footer %}
        </div>
    {% endblock body %}
    {% block javascripts %}
        {% javascripts  'assets/js/jquery-1.12.0.min.js'
                        'assets/js/*'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block bottomScripts %}
    {% endblock %}
    </body>
</html>
