{% extends '::base.html.twig' %}
{% block content %}
    {% embed  'partials/panel.html.twig' %}
        {% block panel_content %}
            <div class="panel-heading"><h1>Pranešimai</h1></div>
                <div class="panel-body">
                    <div class="col-sm-12 col-lg-12">
                    {% if notifications is empty %}
                        <div class="notification">Pranešimų nėra.</div>
                    {% endif %}
                    {% for notification in notifications %}
                    <div class="panel panel-default notification" data-notification-id="{{ notification[0].id }}">
                        <div class="panel-heading notification-title" data-notification-seen="{{ notification['seen'] ? 'Yes':'No' }}">
                            <div style="float:left; padding-right: 10px;"><h4 style="margin: 0px 0px 0px;">{{ notification[0].date.format('M d Y H:i') }}</h4></div>
                            {{ notification['seen'] ? '':'<div class="notification-seen"  style="float:left; padding-right:10px;"><p style="background-color:#F57C00; float:left; color:white; padding:0 5px;">Naujas</p></div>' }}
                            <h4 style="margin: 0px 0px 0px;">{{ notification[0].title }}</h4>
                        </div>
                        <div class="panel-body notification-text notification-text-hide">
                            <div>{{ notification[0].text }}</div>
                            <div>
                                <a class="btn-match orange" href="{{ notification[0].link }}">Peržiūrėti</a>
                                <a class="btn-match orange notification-delete">Pašalinti</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="navigation">
                        {{ knp_pagination_render(notifications) }}
                    </div>

                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('.notification-title').click(function(){
            var parent = $(this).parent();
            var seen = $(this).attr("data-notification-seen");

            parent.children('.notification-text').slideToggle('slow');

            if(seen = 'No'){
                var id = parent.attr("data-notification-id");
                var data = 'id=' + id ;
                var label = $(this).find(".notification-seen");

                $.ajax({
                    type: "POST",
                    url: '{{path('knygmainys_user.notification.update_status')}}',
                    data: data,
                    success: function(msg) {
                        label.fadeOut('slow', function() {$(this).remove();});
                    },
                    error: function(e){
                        console.log('Ops! Something wrong!');
                    }
                });
            }
        });

        $(".notification-delete").click(function(){
            var id = $(this).parent().parent().parent().attr("data-notification-id");
            var data = 'id=' + id ;
            var parent = $(this).parent().parent().parent();
            $.ajax({
                type: "POST",
                url: '{{path('knygmainys_user.notification.delete')}}',
                data: data,
                success: function(msg) {
                    parent.fadeOut('slow', function() {$(this).remove();});
                },
                error: function(e){
                    console.log('Ops! Something wrong!');
                }
            });
        });
    });
</script>
{% endblock %}