{% if app.user %}
    <div class="header-sidebar-user">
        <ul class="item-list">
            <li class="user"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</li>
            <li>Taškai: </li>
            <li>
                <ul>
                    <li>Turimi: {{ app.user.currentPoints }}</li>
                    <li>Rezervuoti: {{ app.user.reservedPoints }}</li>
                </ul>
            </li>
            <li class="menu-link"><a href="{{ path('knygmainys_user_profile', {'id': app.user.id}) }}">Mano profilis</a></li>
            <li class="menu-link"><a href="{{ path('knygmainys_user.notification') }}">Pranešimai ({{ userNotifications.getUnreadNotificationsCount(app.user.id) }})</a></li>
        </ul>
    </div>
{% else %}
    {{ render(controller('FOSUserBundle:Security:login')) }}
{% endif %}