{% extends '::base.html.twig' %}

{% block content_title %}
    <div>Knygos pasiūlymas</div>
{% endblock %}
{% block content_body %}
    <div class="offer-view">
        <h1>{{ offeredBook.book.title }}</h1>
        <div><h3>Aprašymas:</h3></div>
        <div>{{ offeredBook.book.description }}</div><br>
        <div><a href="{{ path('knygmainys_books_show', {'id': offeredBook.book.id}) }}">Detalesnė knygos informacija</a> </div>
        {% if app.user.id is sameas(offeredBook.user.id) %}
            <div><h3>Gavėjas:</h3><a href="{{ path('knygmainys_user_profile', {'id': offeredBook.receiver.id})}}">{{ offeredBook.receiver.firstName }} {{ offeredBook.receiver.lastName }}</a></div>
        {% else %}
            <div><h3>Sąvininkas:</h3><a href="{{ path('knygmainys_user_profile', {'id': offeredBook.user.id})}}">{{ offeredBook.user.firstName }} {{ offeredBook.user.lastName }}</a></div>
        {% endif %}
    </div>
    <br>
    <div id="book-status-messages"></div>
    <div>
        {% if app.user.id is sameas(offeredBook.user) %}
            <button type="button" class="btn btn-primary reject-book" aria-label="Left Align" autocomplete="off" data-id="{{ offeredBook.id }}">
                <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> Atšaukti pasiūlymą
            </button>
        {% else %}
            <button type="button" class="btn btn-primary accept-book" aria-label="Left Align" autocomplete="off" data-id="{{ offeredBook.id }}">
                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Primti pasiūlymą
            </button>
            <button type="button" class="btn btn-primary reject-book" aria-label="Left Align" autocomplete="off" data-id="{{ offeredBook.id }}">
                <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> Atmesti pasiūlymą
            </button>
        {% endif %}
    </div>
{% endblock %}
{% block bottomScripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.accept-book, .reject-book').on('click', function () {
                var messageBox = $('#book-status-messages');
                var clicked = $(this);
                var data = {};
                data.id = this.getAttribute("data-id");

                if (clicked.is( ".accept-book" )){
                    data.action = 'accept';
                } else if (clicked.is( ".reject-book" )){
                    data.action = 'reject';
                }

                $.ajax({
                    type: "POST",
                    url: "{{ path('knygmainys_books_offer_status') }}",
                    data: data,
                    success: function(data) {
                        var className = '';
                        if (data['status'] == 'ok') {
                            className = 'alert alert-success';
                            clicked.prop("disabled",true);
                        } else {
                            className = 'alert alert-danger';
                        }

                        var content = '<div class="' + className + '">' + data["message"]
                                + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>';
                        $(content).hide().appendTo(messageBox).fadeIn(1000);
                    }
                });
            });
        });
    </script>
{% endblock %}