{% extends '::base.html.twig' %}

{% block content_title %}
    <div>Knygos informacija</div>
{% endblock %}
{% block content_body %}
<div class="book-view">
    <h1>{{ book.title }}</h1>
    <div><h3>Aprašymas:</h3></div>
    <div>{{ book.description }}</div><br>
    <div><h3>Kategorija:</h3></div>
    <div>{{ book.category.name }}</div>
    <div><h3>Autoriai:</h3></div>
    <ul class="item-list">
        {% for author in authors %}
            <li>{{ author.firstName }} {{ author.lastName }}</li>
        {% endfor %}
    </ul>
    <div><h3>Ledimai:</h3></div>
    <a href="{{ path('knygmainys_books_release_create', {'id': book.id}) }}">Pridėti leidimą</a>
    <ul class="item-list">
    {% for release in releases %}
        <li class="book-release-item">
            <table class="book-release">
                <tr>
                    <td rowspan="4">
                        <img class="book-image" src="{{ asset(release.release.getWebPath()) }}"/>
                    </td>
                </tr>
                <tr>
                    <td><b>ISBN: </b>{{ release.release.isbn }}</td>
                </tr>
                <tr>
                    <td><b>Metai: </b>{{ release.release.year }}</td>
                </tr>
                <tr>
                    <td><b>Leidykla: </b>{{ release.release.publishingHouse }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="button" class="btn btn-primary wanted-book" aria-label="Left Align" autocomplete="off" data-id="{{ book.id }}" data-release-id="{{ release.release.id }}">
                            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Norimas leidimas
                        </button>
                        <button type="button" class="btn btn-primary owned-book" aria-label="Left Align" autocomplete="off" data-id="{{ book.id }}" data-release-id="{{ release.release.id }}">
                            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> Turimas leidimas
                        </button>
                    </td>
                </tr>
            </table>
        </li>
    {% endfor %}
    </ul>
    <br>
    <div id="book-status-messages"></div>
    <div class="button-container">
        <button type="button" class="btn btn-primary wanted-book" aria-label="Left Align" autocomplete="off" data-id="{{ book.id }}" data-release-id="0">
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Norima knyga
        </button>
        <button type="button" class="btn btn-primary owned-book" aria-label="Left Align" autocomplete="off" data-id="{{ book.id }}" data-release-id="0">
            <span class="glyphicon glyphicon-align-right" aria-hidden="true"></span> Turima knyga
        </button>
    </div>
    <br>
    <div class="wanted-by-users">
        <div><h3>Vartotojai norintys šios knygos:</h3></div>
        <ul>
            {% for wanted in wantedBy %}
                <li><a href="{{ path('knygmainys_user_profile', {'id': wanted.user.id})}}">{{ wanted.user.firstName }} {{ wanted.user.firstName }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="owned-by-users">
        <div><h3>Vartotojai turintys šią knygą:</h3></div>
        <ul>
            {% for owned in ownedBy %}
                <li><a href="{{ path('knygmainys_user_profile', {'id': owned.user.id})}}">{{ owned.user.firstName }} {{ owned.user.firstName }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block bottomScripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.wanted-book').on('click', function () {
            var container = $(this).parent();
            $('#points').slideUp("fast", function() {
                $(this).remove();
            });
            container.append('<form id="points"><br>Automatiškai skirimas taškų kiekis yra 1, tačiau jai norite kad knygos prašymas labiau trauktų vartotoją, galite skirti ir daugiau turimų taškų.<input class="form-control" id="points-value" placeholder="Taškų kiekis..." required="required" type="text"><input class="btn btn-md btn-primary btn-block" id="points-submit" value="Pridėti"></form>');
        });

        $(document).on('click', '#points-submit', function(){
            var messageBox = $('#book-status-messages');
            var clicked = $(this);
            var dataDiv = $(this).parent().parent().find(".wanted-book");

            var data = {};
            data.id = dataDiv.attr("data-id");
            data.release = dataDiv.attr("data-release-id");
            data.action = 'wanted';
            data.points = $('#points-value').val();
            $.ajax({
                type: "POST",
                url: "{{ path('knygmainys_books_add_book') }}",
                data: data,
                success: function(data) {
                    var className = '';
                    if (data['status'] == 'ok') {
                        className = 'alert alert-success';
                        clicked.prop("disabled",true);
                    } else {
                        className = 'alert alert-danger';
                    }

                    var content = '<div class="' + className + '">' + data["message"]
                            + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>';
                    $(content).hide().appendTo(messageBox).fadeIn(1000);
                }
            });
        });

        $('.owned-book').on('click', function () {
            var messageBox = $('#book-status-messages');
            var clicked = $(this);
            var data = {};
            data.id = this.getAttribute("data-id");
            data.release = this.getAttribute("data-release-id");
            data.action = 'owned';

            $.ajax({
                type: "POST",
                url: "{{ path('knygmainys_books_add_book') }}",
                data: data,
                success: function(data) {
                    var className = '';
                    if (data['status'] == 'ok') {
                        className = 'alert alert-success';
                        clicked.prop("disabled",true);
                    } else {
                        className = 'alert alert-danger';
                    }

                    var content = '<div class="' + className + '">' + data["message"]
                            + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a></div>';
                    $(content).hide().appendTo(messageBox).fadeIn(1000);
                }
            });
        });
    });
</script>
{% endblock %}
